[submodule "themes/hugo-narrow"]
	path = themes/hugo-narrow
	url = https://github.com/tom2almighty/hugo-narrow.git
[submodule "automation"]
	path = automation
	url = git@github.com:ryujaehun/blog-automation.git
