{{/*
  글이 거의 없는 분류 페이지인가. true/false 를 돌려준다.

  왜: 태그 181 개 중 132 개가 2 편 이하고 59 개는 1 편뿐이다. 카테고리도
  70 개 중 40 개가 2 편 이하다. 글 하나짜리 분류 페이지는 그 글의 제목과
  요약을 되풀이할 뿐이라 검색 결과에서 원글과 자리를 다투고, 사이트
  전체로 보면 얇은 페이지를 수백 개 쌓는다.

  색인에서만 빼고 링크는 그대로 둔다(index 는 끄고 follow 는 켠다).
  사람이 태그를 눌러 들어오는 길과 크롤러가 글로 가는 길은 유지된다.

  기준을 3 편으로 둔 이유: 2 편짜리도 목록으로서 하는 일이 거의 없다.
  3 편부터는 "이 주제로 모아 둔 글" 이라고 부를 만하다.
*/}}
{{- $min := 3 -}}
{{- $thin := false -}}
{{- if eq .Kind "term" -}}
  {{- if lt (len .Pages) $min -}}
    {{- $thin = true -}}
  {{- end -}}
{{- end -}}
{{- return $thin -}}
